html { font-size: 16px; text-transform: capitalize;}
body { font-family: "Segoe UI", Arial, sans-serif;}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

a { 
    color: blue;
    font-weight: bold;
    text-decoration: none;
    font-size: 1rem;
}

h1{text-align: center;}
h2 a { font-size: 0.9rem; }

a:hover, a:focus { text-decoration: underline;}

.container table{
    margin: auto;
border-collapse: collapse;
text-align: center;

}


.container table tr:nth-child(even){background-color: rgb(143, 170, 170);}

.container table th, td{padding: 10px;}
.exc a{color: red;}